/*reset*/
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

body {
  background-image: url(../img/papelgris.jpg);
  background-size: cover; }

/*estilos del header*/
header {
  background-image: url(../img/flamitash.png);
  height: 367px;
  width: auto; }
  header .rosetext {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite; }

@keyframes animation {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0); } }
  header .jackasstext {
    margin-top: 50px;
    margin-right: 20px;
    width: 300px;
    height: 70px; }
  header .logorosa {
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
    height: 150px; }
  header .containermenu {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: -20px 430px; }
    header .containermenu nav a {
      text-decoration: none;
      color: #91911d; }
    header .containermenu :hover {
      color: #8c1414; }
  header ul {
    display: flex;
    justify-content: flex-end;
    list-style: none; }
  header ul li img {
    margin-right: 20px;
    width: 20px;
    height: 20px; }

/* stilos carruosel*/
.contenedor {
  height: 367px;
  width: auto; }
  .contenedor .carousel-item {
    height: 30rem;
    position: relative; }

/* stilos de las sections*/
section {
  text-align: center;
  color: white; }

h1 {
  text-align: center;
  color: #8c1414;
  background-color: rgba(0, 0, 0, 0.5); }

h2, h4, h5 {
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px black; }

p {
  color: #8c1414;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
  text-align: center; }

section div img {
  width: 80%; }

/* botones*/
section div button {
  background-color: black;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  border-color: black;
  box-shadow: 2px 2px 10px rgba(239, 236, 236, 0.5); }

button:hover {
  background-color: #910a0a; }

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100PX;
  margin-right: 100PX; }

/* talles*/
.talles {
  display: flex;
  justify-content: center; }

/* stilos del footer*/
footer {
  background-color: black;
  border: 2px solid #910a0a;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center; }

footer p {
  color: beige;
  font-size: 20px;
  text-align: center; }

/* media queries */
@media screen and (min-width: 600px) {
  /* stilos container*/
  .containermenu {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: -20px 430px;
    border: 2px solid white; }
    .containermenu nav a {
      text-decoration: none;
      color: #91911d; }
  /* stilos de la section*/
  section {
    display: block;
    display: flex;
    justify-content: space-around;
    padding: 0rem  1.7rem 0.5rem 1.7rem;
    text-align: center; }
  section div img {
    width: 100%; } }
