/*resert*/
@import "utilities/reset";
//variables//
@import "utilities/extend";
@import "utilities/mixies";
@import "utilities/variables";
/*estilos del body*/
body{
    background-color: $color-principal;


header{
    background-image: url(../img/flamitash.png);
    height: 367px;
    width: auto;

}
}